#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/scons.mk

# DEBUILD_DPKG_BUILDPACKAGE_OPTS="-us -uc -sa -i -I"
DEB_SCONS_OPTIONS := --install-prefix=$(DEB_DESTDIR)/usr --config-prefix=$(DEB_DESTDIR)/etc
DEB_SCONS_INSTALL_OPTIONS := DESTDIR=$(DEB_DESTDIR)
